:host {
    display: block;

    .committer-avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-bottom: 2px;
    }

    .commit-message {
        display: block;
        width: 600px;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
